/*背景*/
.background {
  background-color: #260d73;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*メイン*/
.inner {
  width: 750px;
  border-radius: 12px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  top: 25%;
  padding: 10px;
  box-shadow: #2f2f2e 2px 2px;
}

h2 {
  margin-left: 10px;
  padding: 10px;
}

/*追加*/
.writespace-block {
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.create-text {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(195, 192, 192);
}

.create-button {
  border: 2px solid #df86f7;
  color: #df86f7;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}
/*追加*/

/*タスク table*/
table {
  width: 100%;
  text-align: center;
  padding: 20px;
}

td {
  padding: 13px 5px;
}

/*作成日　タスク名　削除　更新*/
th {
  padding: 15px 10px 30px;
}

.task-space {
  width: 85%;
  height: 20px;
  border-radius: 5px;
  border: 1px solid rgb(195, 192, 192);
}

.update {
  border: 2px solid #f49c65;
  color: #f49c65;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.delete {
  border: 2px solid #99f9ee;
  color: #99f9ee;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

/*タスク table*/
